@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  text-align: center;
}

.hide-mobile {
  display: none;
}

h1 {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

h1 img {
  position: relative;
  top: .15em;
  width: 1em;
}

h2 {
  font-weight: 500;
  padding: 2em;
  font-size: 16px;
}

h3 {
  font-size: 12px;
}

ul li {
  display: list-item;
}

.underline {
  text-decoration: underline;
}

#navbar {
  position: absolute;
  right: 1em;
  top: 1em;
}

#navbar ul li {
  text-align: right;
}

.cover {
  position: fixed;
  top: 0;
  background-color: red;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1em;
}

.social-media li {
  padding: .4em;
}

.social-media .linkedin {
  width: 2.12em;
}

.social-media .behance {
  width: 2.1em;
}

.social-media .instagram {
  width: 2em;
}

.social-media .pinterest {
  width: 2em;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

address {
  font-style: normal;
}

.hide {
  display: none;
}

#sortbar ul li {
  display: inline;
  text-transform: capitalize;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em;
  cursor: pointer;
}

nav li:hover {
  text-decoration: underline;
}

.container {
  padding: 3em 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

SquareGrid {
  --content-width: 80vw;
  --gutter: 40px;
  --columns: 1;
  --row-size: calc(
      ( var(--content-width) - (var(--gutter) * (var(--columns) - 1))
      ) / var(--columns)
    );
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 80vw;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);
  grid-gap: 10px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  position: relative;
  margin: relative;
  overflow: hidden;
}

.item img {
  max-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.item:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 25%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background-color: white;
}

.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p a:hover {
  text-decoration: underline;
}

.item:hover .overlay {
  opacity: .92;
}

hr {
  border: 1px solid gray;
}

footer .section ul li {
  padding: .3em;
  display: list-item;
}

footer .section h1 {
  padding-top: .6em;
  margin-bottom: 0;
}

footer .section #personal-info li {
  text-align: left;
}

footer .section #personal-info li img {
  width: 1.4em;
  padding-right: .8em;
  position: relative;
  top: .35em;
}

footer .section #footer-nav li {
  margin-top: .12em;
  padding: .52em;
}

footer .section .social-media {
  margin: 0;
  padding: 1em;
}

footer .copyright {
  text-align: left;
  padding: 1em;
  color: gray;
  font-size: smaller;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 75%;
  margin: auto;
  padding: 1em;
}

.about img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about ul {
  list-style-type: circle;
}

input[type=text], select, textarea {
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
  width: 97%;
  padding: 12px;
  border: 0;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  resize: vertical;
}

input[type=submit] {
  margin: 2em;
  background-color: #282828;
  color: white;
  width: 34%;
  padding: 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
}

form {
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;
}

h3 {
  text-align: left;
  font-size: x-large;
  font-weight: 900;
  margin: 0 0 0 .2em;
}

@media only screen and (min-width: 700px) {
  footer .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .section ul li {
    text-align: right;
  }
  .hide-desktop {
    display: none;
  }
  .show-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul li {
    display: inline-block;
    padding: 1em 2em 0 0;
  }
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 29px;
  }
  h2 {
    font-size: 20px;
  }
  SquareGrid {
    --columns: 3;
  }
}

@media only screen and (min-width: 1350px) {
  SquareGrid {
    --columns: 4;
  }
}
/*# sourceMappingURL=main.css.map */