@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$colors: (
    backgnd: white,
    accent: gray,
    txt: black
);

@function color($color-name){
    @return map-get($colors,$color-name)
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: color(backgnd);
    color: color(txt);
    text-align: center;
}

h1{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    img{
        position: relative;
        top: 2px;
        width: 1em;
    }
}

h2{
    padding: 2em;
    font-size: 16px;
}

h3{
    font-size: 12px;
}

ul li{
    display: inline-block;
}

#navbar{
    position: absolute;
    right: 1em;
    top: 1em;
}

.social-media{
    display: flex;
    align-items: baseline;
    .linkedin{width: 2.12em;}
    .behance{width: 2.1em;}
    .instagram{width: 2em;}
    .pinterest{width: 2em;}
}

img{
    max-width: 300px;
}

ul, ol{list-style-type: none; padding: 0;}
a{text-decoration: none;}
a:visited{text-decoration: none;color:color(txt);}
address{font-style: normal;}

nav ul li{
    display: inline;
}

.hide{
    display: none;
}

.contents{
    padding: 1em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.container {
    display: flex;
    background: color(accent);
    position: relative;
    margin: relative;
    overflow: hidden;
    img{
        flex-shrink:0;
        min-width:100%;
        min-height:100%
    }
}

.container:before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 25%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: color(backgnd);
}

.overlay p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    a:hover{text-decoration: underline;}
}

.container:hover .overlay {
    opacity: .95;
}

  


