@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$colors: (
    backgnd: white,
    accent: gray,
    txt: black
);

@function color($color-name){
    @return map-get($colors,$color-name);
}

body {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: color(backgnd);
    color: color(txt);
    text-align: center;
}

.hide-mobile {
    display: none;
}

h1{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    img{
        position: relative;
        top: .15em;
        width: 1em;
    }
}

h2{
    padding: 2em;
    font-size: 16px;
}

h3{
    font-size: 12px;
}

ul li{
    display: inline-block;
}

#navbar {
    position: absolute;
    right: 1em;
    top: 1em;
}

.cover{
    position: fixed;
    top:0;
    background-color:red;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: 1; //put on top
}

.social-media{
    display: flex;
    align-items: baseline;
    padding: 1em;
    li{
        padding: .4em;
    }
    .linkedin{width: 2.12em;}
    .behance{width: 2.1em;}
    .instagram{width: 2em;}
    .pinterest{width: 2em;}
}

img{
    max-width: 250px;
}

ul, ol{list-style-type: none; padding: 0;}
a{text-decoration: none;}
a:visited{text-decoration: none; color:color(txt);}
a:link{text-decoration: none; color:color(txt);}
address{font-style: normal;}

nav ul li{
    display: inline;
}

.hide{
    display: none;
}

#sortbar ul li{
    display: inline;
    text-transform: capitalize;
    justify-content: space-between;
    padding: 1.5em;
    cursor: pointer;
}

li:hover{
    text-decoration: underline;
}

.contents{
    padding: 1em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.container {
    display: flex;
    background: color(accent);
    position: relative;
    margin: relative;
    overflow: hidden;
    img{
        flex-shrink:0;
        min-width:100%;
        min-height:100%
    }
}

.container:before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 25%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: color(backgnd);
}

.overlay p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    a:hover{text-decoration: underline;}
}

.container:hover .overlay {
    opacity: .95;
}

hr {
    border: 1px solid color(accent);
}

footer .section{

    ul li{
        padding: .3em;
        display: list-item;
    }

    #personal-info li{
        img{
            width: 1.4em;
            padding-right: .8em;
            position: relative;
            top: .35em;
        }
        text-align: left;
    }
}

footer p {
    text-align: left;
    margin-left: 1em;
    color: color(accent)
}

@media only screen and (min-width: 700px){
    footer .section{
        display: flex;
        justify-content: space-around;
        ul li{
            text-align: right;
        }
    }
    .hide-desktop{
        display: none;
    }
    .show-desktop{
        display:flex;
    }
}

@media only screen and (min-width: 1400px){
    .contents{
        grid-template-columns: repeat(4, minmax(300px, 1fr));
    }
    
}

// @media only screen and (min-width: 1500px){
//     .contents{
//         padding: 3em 30em;
//     }
// }



  


