@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  text-align: center;
}

.hide-mobile {
  display: none;
}

h1 {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

h1 img {
  position: relative;
  top: .15em;
  width: 1em;
}

h2 {
  padding: 2em;
  font-size: 16px;
}

h3 {
  font-size: 12px;
}

ul li {
  display: inline-block;
}

#navbar {
  position: absolute;
  right: 1em;
  top: 1em;
}

#navbar img:hover {
  cursor: pointer;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1em;
}

.social-media li {
  padding: .4em;
}

.social-media .linkedin {
  width: 2.12em;
}

.social-media .behance {
  width: 2.1em;
}

.social-media .instagram {
  width: 2em;
}

.social-media .pinterest {
  width: 2em;
}

img {
  max-width: 250px;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

address {
  font-style: normal;
}

nav ul li {
  display: inline;
}

.hide {
  display: none;
}

#sortbar ul li {
  display: inline;
  text-transform: capitalize;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.contents {
  padding: 1em 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  position: relative;
  margin: relative;
  overflow: hidden;
}

.container img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.container:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 25%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background-color: white;
}

.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p a:hover {
  text-decoration: underline;
}

.container:hover .overlay {
  opacity: .95;
}

hr {
  border: 1px solid gray;
}

footer .section ul li {
  padding: .3em;
  display: list-item;
}

footer .section #personal-info li {
  text-align: left;
}

footer .section #personal-info li img {
  width: 1.4em;
  padding-right: .8em;
  position: relative;
  top: .35em;
}

footer p {
  text-align: left;
  margin-left: 1em;
  color: gray;
}

@media only screen and (min-width: 500px) {
  footer .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .section ul li {
    text-align: right;
  }
  .hide-desktop {
    display: none;
  }
  .show-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1400px) {
  .contents {
    -ms-grid-columns: (minmax(300px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}
/*# sourceMappingURL=main.css.map */